#mernstack {
  display: flex;
  justify-content: flex-end;
}
#body {
  background-color: #131335;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#imgcol {
  display: flex;
  justify-content: flex-end;
}
.img {
  width: 3.8em;
  height: 3.8em;
  background-image: url("/haris.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10%;
  margin-top: 25px;
}

#personelportfolio {
  position: relative;
  background: linear-gradient(113.63deg, #ca0e5f 6.76%, #38b5e7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: slideInFromLeft 2.5s;
}
.whoamikheading {
  /* padding: 10px; */
  /* margin: 5px; */
  height: 100px;
  padding-top: 35px;
  font-size: 40px;
  font-family: "poppins";
  font-weight: 600;
  background: linear-gradient(113.63deg, #38b5e7 2.76%, #ca0e5f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.titleskills {
  font-size: 40px;
  font-family: "poppins";
  font-weight: 100;
  background: linear-gradient(10.63deg, #38b5e7 1.76%, #ca0e5f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.skillscard {
  background-color: #0e0e1e;
  width: 100%;
  height: 120px;
  border-radius: 10px;
}
#headingmain {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
.card-title {
  font-size: 20px;
  font-family: "poppins";
  font-weight: 600;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background-color: #067f8a00;
  transition: color 0.3s, font-size 0.3s;
}
#github {
  font-size: 20px;
  text-align: center;
}
#linkedin {
  font-size: 20px;
}
.card-text {
  font-size: 16px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background-color: #067f8a00;
  position: relative;
}
#aboutpara {
  font-size: 16px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background-color: #067f8a00;
  position: relative;
}
.card-img {
  width: 100%;
}

.mernstackheading {
  border: 2px solid rgb(2, 76, 76);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background-color: rgb(2, 76, 76);
  box-shadow: 10px 4px 20px rgba(153, 148, 148, 0.03);
  color: white;
  font-size: 20px;
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
}
.mernstackheading:hover {
  border: 2px solid rgb(255, 255, 255);
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 50px;
  text-align: center;
}

/* __________________________________________cards css skills____________________________________________________ */

.card {
  width: 90%;
  background: #0e0e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 1px #00000088;
  cursor: pointer;
}

.card .content {
  border-radius: 5px;
  background: #0e0e1e;
  width: 100%;
  z-index: 1;
  padding: 20px;
  color: white;
}

.content::before {
  opacity: 0;
  transition: opacity 300ms;
  content: " ";
  display: block;
  background: white;
  width: 50px;
  height: 50px;
  position: absolute;
  filter: blur(50px);
}

.card:hover .content::before {
  opacity: 1;
}

.card::before {
  opacity: 0;
  content: " ";
  position: absolute;
  display: block;
  width: 90%;
  height: 240px;
  background: linear-gradient(
    90deg,
    transparent,
    #ff2288,
    #387ef0,
    transparent
  );
  transition: opacity 300ms;
  animation: rotation_9018 3000ms infinite linear;
  animation-play-state: paused;
}

.card:hover::before {
  opacity: 1;
  animation-play-state: running;
}

.card::after {
  position: absolute;
  content: " ";
  display: block;
  width: 100%;
  /* height: 254px; */
  background: #17171733;
  backdrop-filter: blur(50px);
}

@keyframes rotation_9018 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ____________________________________Card Project css__________________________________________________ */
.cardprojects {
  width: 100%;
  padding-bottom: 50px;
  background: #101024;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 1px #00000088;
  cursor: pointer;
  border: 1px solid #131335;
  border-radius: 5px;
}

.cards {
  margin-bottom: 2%;
  background: #ffffff;
  width: 100%;
  height: 300px;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 0.2s all;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 13px;
  padding-top: 30px;
  background-image: url("/project1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.cards2 {
  margin-bottom: 2%;

  background: #ffffff;
  width: 100%;
  height: 300px;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 0.2s all;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 13px;
  padding-top: 30px;
  background-image: url("/orderRageCustom.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.cards3 {
  /* margin: 2%; */
  background: #ffffff;
  width: 100%;
  height: 300px;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 0.2s all;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 13px;
  padding-top: 30px;
  background-image: url("/expo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.cards4 {
  /* margin: 2%; */
  background: #ffffff;
  width: 100%;
  height: 300px;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 0.2s all;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 13px;
  padding-top: 30px;
  background-image: url("/molto.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.cards5 {
  /* margin: 2%; */
  background: #ffffff;
  width: 100%;
  height: 300px;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 0.2s all;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 13px;
  padding-top: 30px;
  background-image: url("/tronix.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.cards6 {
  /* margin: 2%; */
  background: #ffffff;
  width: 100%;
  height: 300px;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 0.2s all;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 13px;
  padding-top: 30px;
  background-image: url("/project2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.cards7 {
  /* margin: 2%; */
  background: #ffffff;
  width: 100%;
  height: 300px;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 0.2s all;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 13px;
  padding-top: 30px;
  background-image: url("/project3.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.cards8 {
  /* margin: 2%; */
  background: #ffffff;
  width: 100%;
  height: 300px;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 0.2s all;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 13px;
  padding-top: 30px;
  background-image: url("/project4.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.cards9 {
  /* margin: 2%; */
  background: #ffffff;
  width: 100%;
  height: 300px;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 0.2s all;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 13px;
  padding-top: 30px;
  background-image: url("/zscreen.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.cards10 {
  /* margin: 2%; */
  background: #ffffff;
  width: 100%;
  height: 300px;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 0.2s all;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 13px;
  padding-top: 30px;
  background-image: url("/encounter.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.cards11 {
  /* margin: 2%; */
  background: #ffffff;
  width: 100%;
  height: 300px;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 0.2s all;
  cursor: pointer;
  align-items: center;
  text-align: center;
  font-size: 13px;
  padding-top: 30px;
  background-image: url("/aliafarid.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cards > span {
  display: block;
  margin: auto;
  max-width: 40px;
}
.cards2 > span {
  display: block;
  margin: auto;
  max-width: 40px;
}
.cards3 > span {
  display: block;
  margin: auto;
  max-width: 40px;
}
.cards4 > span {
  display: block;
  margin: auto;
  max-width: 40px;
}
.cards5 > span {
  display: block;
  margin: auto;
  max-width: 40px;
}
.cards6 > span {
  display: block;
  margin: auto;
  max-width: 40px;
}
.cards7 > span {
  display: block;
  margin: auto;
  max-width: 40px;
}
.cards8 > span {
  display: block;
  margin: auto;
  max-width: 40px;
}
.cards9 > span {
  display: block;
  margin: auto;
  max-width: 40px;
}
.cards10 > span {
  display: block;
  margin: auto;
  max-width: 40px;
}
.cards11 > span {
  display: block;
  margin: auto;
  max-width: 40px;
}

#container:hover .cards {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
#container:hover .cards2 {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
#container:hover .cards3 {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
#container:hover .cards4 {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
#container:hover .cards5 {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
#container:hover .cards6 {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
#container:hover .cards7 {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
#container:hover .cards8 {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
#container:hover .cards9 {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
#container:hover .cards10 {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
#container:hover .cards11 {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}

#container:hover .cards:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  color: white;
}
#container:hover .cards2:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  color: white;
}
#container:hover .cards3:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  color: white;
}
#container:hover .cards4:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  color: white;
}
#container:hover .cards5:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  color: white;
}
#container:hover .cards6:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  color: white;
}
#container:hover .cards7:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  color: white;
}
#container:hover .cards8:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  color: white;
}
#container:hover .cards9:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  color: white;
}
#container:hover .cards10:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  color: white;
}
#container:hover .cards11:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  color: white;
}
/* _______________________________________-Css about ____________________________________________________________ */

.cardabout {
  width: 100%;
  background: #0e0e1e;
  transition: 1s ease-in-out;
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
}

.cardabout span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 1em;
}

.cardabout .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.72em;
  margin: 1em;
}

.cardabout .img {
  width: 4.8em;
  height: 4.8em;
  background-image: url("/haris.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin: auto;
}

.cardabout .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.cardabout a {
  color: white;
  transition: 0.4s ease-in-out;
}

.cardabout a:hover {
  color: #ca0e5f;
}

.cardabout button {
  padding: 0.8em 1.7em;
  display: block;
  margin: auto;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: 0.4s ease-in-out;
}

.cardabout button:hover {
  background: linear-gradient(113.63deg, #38b5e7 2.76%, #ca0e5f 100%);
  color: white;
  cursor: pointer;
}

.card-texts {
  color: white;
  border-radius: 5px;
  display: flex;
}

#updated {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 990px) {
  .card {
    width: 100%;
    margin-top: 20px;
  }
  .cards,
  .cards2,
  .cards3
  .cards4
  .cards5,
  .cards6,
  .cards7
  .cards8
  .cards9
  .cards10
  .cards11
   {
    margin-top: 12px;
  }
  #updated {
    display: flex;
    justify-content: flex-start;
  }
}
